<nav class="navbar navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" href="#/">
        <span class="glyphicon glyphicon-home"></span> Gulp Angular
      </a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-6">
      <ul class="nav navbar-nav pull-right">
        <!-- <li class="active"><a ng-href="#/">Home</a></li> -->
        <li><a ng-href="#/documentation">Documentation</a></li>
        <!-- <li><a ng-href="#">Contact</a></li> -->
      </ul>
    </div>
  </div>
</nav>
